body {
    ul.navbar-nav li {
        border-right: solid 1px #f4f4f4;
        height: inherit;
        line-height: 0.15em;
        letter-spacing: 0.25em;
        padding-right: 1.5em;
        padding-left: 1.5em;
        text-align: center;
    }
    a.navbar-brand {
        border-right: 1px solid #f4f4f4;
        line-height: 4em;
        letter-spacing: 0.25em;
        padding-right: 1em;
        font-size: 1.2em;
        text-align: center;

    }
    .page_container{
        margin: 1rem;
        .home_content{
            padding-left: 10%;
            padding-right: 10%;
        }
    }
    h1 {
        text-align: center;
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 20px;
    }
    .post_view {
        width: 33%;
        float: left;
        margin: 1%;
    }
    .post_content {
        margin-left: 10%;
        margin-right: 10%;
    }
    .logo {
        background-image: url(../img/pro2.jpg);
        height: 500px;
        background-size: cover;
    }
}